
.sandbox-input {
    height: 5.3rem;
    width: 100%;
    min-width: 30rem;
    background-color: rgba(0, 84, 255, 0.22);
    border: 0.2rem solid #00A2FF;
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: #00A2FF;
    box-sizing: border-box;
    outline: none;
    padding: 2.4rem;
    text-align: center;
    border-radius: 0.3rem;
    margin: 0.8rem 0;

    &::-webkit-input-placeholder {
        color: #00A2FF;
    }

    &:focus {
        border: 2px solid #00A2FF;
    }

    &:focus-visible {
        border: 2px solid #00A2FF;
    }
}
