
@slide-offset: -0.6rem;
@footer-height: 2.34rem;

.layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // padding: 2.92rem 0 2.34rem 0;

    .wrapper {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 0.92rem;
    }

    .content {
        margin-top: 2.55rem;
        width: 94.27rem;
        min-height: calc(46.67rem - @footer-height);
        // max-height: 46.67rem;
        border: 0.07rem solid #00DEFF;
        position: relative;
        flex: 1;
        background-color: rgba(56, 145, 255, 0.1);

        .content-wrapper {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        // z-index: 1;
        .bg-wrapper {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
        }
        // overflow: hidden;

        .bg {
            position: absolute;
            left: -0.2rem;
            top: -0.2rem;
            background: url('@assets/bg/bg.png') no-repeat;
            // background-size: 100% 100%;
            background-size: cover;
            width: calc(100% + 0.4rem);
            height: calc(100% + 0.4rem);
            z-index: 0;
        }
    }

    .top-blank {
        width: 100%;
        min-height: 2rem;
    }

    .footer-blank {
        width: 100%;
        min-height: @footer-height;
    }

    .border-slide-top {
        width: 3.18rem;
        height: 3.23rem;
    }

    .border-slide-bottom {
        width: 3.23rem;
        height: 3.18rem;
    }

    .borderLeftBottom {
        position: absolute;
        left: @slide-offset;
        bottom: @slide-offset;
        background: url('../../assets/btn_left_bottom_slide.svg') no-repeat;
        background-size: 100% 100%;
        z-index: 1;
    }
    .borderLeftTop {
        position: absolute;
        left: @slide-offset;
        top: @slide-offset;
        background: url(../../assets/btn_left_top_slide.svg);
        background-size: 100% 100%;
        z-index: 1;
    }

    .borderRightBottom {
        position: absolute;
        right: @slide-offset;
        bottom: @slide-offset;
        background: url(../../assets/btn_right_bottom_slide.svg);
        background-size: 100% 100%;
        z-index: 1;
    }

    .borderRightTop {
        position: absolute;
        right: @slide-offset;
        top: @slide-offset;
        background: url(../../assets/btn_right_top_slide.svg);
        background-size: 100% 100%;
        z-index: 1;
    }
}
