
.header {
    height: 36px;
    width: 90%;
    margin-top: 52px;
    display: flex;
    align-items: center;
    text-align: center;

    .icon {
        font-size: 20px;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 20px;
        flex: 1;
        text-align: left;
    }

    .title {
        font-size: 36px;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 36px;
        flex: auto;
    }

    .action {
        flex: 1;
    }
}