
.header {
    height: 3.6rem;
    width: 90%;
    margin-top: 5.2rem;
    display: flex;
    align-items: center;
    text-align: center;

    .icon {
        font-size: 2rem;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 2rem;
        flex: 1;
        text-align: left;
    }

    .title {
        font-size: 3.6rem;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 3.6rem;
        flex: auto;
    }

    .action {
        flex: 1;
    }
}