@fa-version: "4.7.0";

@font-face {
    font-family: 'FontAwesome';
    src: url('@assets/fonts/fontawesome-webfont.eot?v=@{fa-version}');
    src: url('@assets/fonts/fontawesome-webfont.eot?#iefix&v=@{fa-version}') format('embedded-opentype'),
      url('@assets/fonts/fontawesome-webfont.woff2?v=@{fa-version}') format('woff2'),
      url('@assets/fonts/fontawesome-webfont.woff?v=@{fa-version}') format('woff'),
      url('@assets/fonts/fontawesome-webfont.ttf?v=@{fa-version}') format('truetype'),
      url('@assets/fonts/fontawesome-webfont.svg?v=@{fa-version}#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa-font {
    font: normal normal normal 14px/1 FontAwesome;
}

* {
    margin:0; padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    // background-color: transparent;

    // &:hover::-webkit-scrollbar-thumb {
    //     background-color: rgba(0, 162, 255, 0.3);
    // }

    ::-webkit-scrollbar {
        width: 9px;
        height: 9px;
        // background-color: rgba(255, 255, 255, 0.1);
        background-color: transparent;

    }

    ::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    ::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 2px;
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        transition: all 300ms;
        border-radius: 2px;
        // background-color: rgb(215, 215, 215);
        background-color: rgba(0, 162, 255, 0.3);

        // &:vertical {
        //     background-color: rgba(0, 162, 255, 0);
        // }
    }
}

*, *:before, *:after {
    box-sizing: border-box;
}

a {
    outline: none;
}

html {
    font-size: 1vw;
}

.window {
    width: 100%;
    height: 100%;
    position: relative;
}

.window .titlebar {
    position: absolute;
    left: 0;
    height: 0;
    z-index: 999;
    width: 100%;
    height: 40px;
    -webkit-app-region: drag;
    transition: all 300ms;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: flex-end;

    .tooltip-box {
        -webkit-app-region: no-drag;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-right: 8px;
        margin-left: 8px;
        // transform: translateY(-1px);

        .light_btn {
            width: 30px;
            height: 30px;
            cursor: pointer;
            font-size: 10px;
            text-align: center;
            color: #FFF;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            &:hover {
                // background-color: rgba(0,186,255, 0.8);
                background-color: rgba(0, 0, 0, 0.8);
                color: rgba(0,186,255, 0.8);
            }

            &.fa-icon {
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 16px;
                font-weight: lighter;
                &.minimize {
                    &::after {
                        content: '';
                        background: url('@assets/svg/minus.svg') no-repeat;
                        background-size: 100% 100%;
                        display: block;
                        width: 14px;
                        height: 14px;
                    }
                }
    
                &.close {
                    &::after {
                        content: '';
                        background: url('@assets/svg/close.svg') no-repeat;
                        background-size: 100% 100%;
                        display: block;
                        width: 14px;
                        height: 14px;
                    }
                }
    
                &.maximize {
                    &::after {
                        content: '';
                        background: url('@assets/svg/max.svg') no-repeat;
                        background-size: 100% 100%;
                        display: block;
                        width: 14px;
                        height: 14px;
                    }
                }
    
                &.unmaximize {
                    &::after {
                        content: '';
                        background: url('@assets/svg/min.svg') no-repeat;
                        background-size: 100% 100%;
                        display: block;
                        width: 14px;
                        height: 14px;
                    }
                }
    
                &.fullscreen {
                    &::after {
                        content: '';
                        background: url('@assets/svg/arrow-expand.svg') no-repeat;
                        background-size: 100% 100%;
                        display: block;
                        width: 14px;
                        height: 14px;
                    }
                }
    
                &.unfullscreen {
                    &::after {
                        content: '';
                        background: url('@assets/svg/arrow-compress.svg') no-repeat;
                        background-size: 100% 100%;
                        display: block;
                        width: 14px;
                        height: 14px;
                    }
                }
            }
        }
    }

    &.win {
        background-color: rgba(0, 0, 0, 0.2);
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.runSpin {
    animation: spin 30s linear infinite;
}

.runSpinQuick {
    animation: spin 2s linear infinite;
}
